In [17]:
import pandas as pd
import numpy as np

In [18]:
#import du CSV ligue1

ligue_1 = pd.read_csv('Ligue1.csv', encoding='ISO-8859-1')
ligue_1.head()

,Unnamed: 0,Player,Nation,Pos,Age,Playing Time,Playing Time.1,Playing Time.2,Performance,Performance.1,...,Per 90 Minutes.2,Per 90 Minutes.3,Per 90 Minutes.4,Per 90 Minutes.5,Per 90 Minutes.6,Per 90 Minutes.7,Per 90 Minutes.8,Per 90 Minutes.9,Unnamed: 33,-additional
0,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches,-9999
1,Brice Samba,fr FRA,GK,29-018,35,35,3150,35.0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Matches,60d90c55
2,Kevin Danso,at AUT,DF,24-236,35,35,3078,34.2,1,2,...,0.09,0.03,0.09,0.07,0.03,0.10,0.07,0.10,Matches,6e33125f
3,Seko Fofana,ci CIV,MF,28-006,33,32,2893,32.1,6,4,...,0.31,0.16,0.28,0.26,0.11,0.36,0.21,0.31,Matches,5313ed43
4,Florian Sotoca,fr FRA,MFFW,32-200,35,32,2858,31.8,6,8,...,0.44,0.16,0.41,0.32,0.25,0.57,0.25,0.50,Matches,7a42d0df

In [19]:
#Selection des colonnes que l'on souhaite garder

ligue_1 = ligue_1.loc[:, ['Unnamed: 0', 'Player', 'Nation', 'Pos']]
ligue_1.head()

       Unnamed: 0  Player Nation     Pos
0          Player  Nation    Pos     Age
1     Brice Samba  fr FRA     GK  29-018
2     Kevin Danso  at AUT     DF  24-236
3     Seko Fofana  ci CIV     MF  28-006
4  Florian Sotoca  fr FRA   MFFW  32-200

In [20]:
#renommage des colonnes

ligue_1.columns = ['Player', 'Nation', 'Pos', 'Age']
ligue_1.head()

           Player  Nation   Pos     Age
0          Player  Nation   Pos     Age
1     Brice Samba  fr FRA    GK  29-018
2     Kevin Danso  at AUT    DF  24-236
3     Seko Fofana  ci CIV    MF  28-006
4  Florian Sotoca  fr FRA  MFFW  32-200

In [21]:
#Supprimer la première ligne

ligue_1 = ligue_1.drop(0)
ligue_1.head()

              Player  Nation   Pos     Age
1        Brice Samba  fr FRA    GK  29-018
2        Kevin Danso  at AUT    DF  24-236
3        Seko Fofana  ci CIV    MF  28-006
4     Florian Sotoca  fr FRA  MFFW  32-200
5  Salis Abdul Samed  gh GHA    MF  23-048

In [22]:
#traitement colonne Nation

ligue_1['Nation'] = ligue_1['Nation'].str.replace('[a-z]', '', regex=True)
ligue_1

                Player Nation   Pos     Age
1          Brice Samba    FRA    GK  29-018
2          Kevin Danso    AUT    DF  24-236
3          Seko Fofana    CIV    MF  28-006
4       Florian Sotoca    FRA  MFFW  32-200
5    Salis Abdul Samed    GHA    MF  23-048
..                 ...    ...   ...     ...
668    Yassin Belkhdim    FRA    MF  21-088
669         Théo Borne    FRA    GK  20-302
670        Yacine Gaya    ALG    DF  18-179
671   Noah Guede-Nadje    FRA    MF  19-182
672      Demba N'Diaye    FRA    MF  17-268

[672 rows x 4 columns]

In [23]:
ligue_1['Nation'] = ligue_1['Nation'].str.strip()

In [24]:
#remplacement des codes pays

pays ={"AFG": "Afghanistan",
    "ALB": "Albanie",
    "ALG": "Algérie",
    "AND": "Andorre",
    "ANG": "Angola",
    "ANT": "Antigua-et-Barbuda",
    "ARG": "Argentine",
    "ARM": "Arménie",
    "ARU": "Aruba",
    "ASA": "Samoa américaines",
    "AUS": "Australie",
    "AUT": "Autriche",
    "AZE": "Azerbaïdjan",
    "BAH": "Bahamas",
    "BAN": "Bangladesh",
    "BAR": "Barbade",
    "BDI": "Burundi",
    "BEL": "Belgique",
    "BEN": "Bénin",
    "BER": "Bermudes",
    "BFA": "Burkina Faso",
    "BHU": "Bhoutan",
    "BIH": "Bosnie-Herzégovine",
    "BIZ": "Belize",
    "BLR": "Biélorussie",
    "BOL": "Bolivie",
    "BOT": "Botswana",
    "BRA": "Brésil",
    "BRN": "Bahreïn",
    "BRU": "Brunei",
    "BUL": "Bulgarie",
    "BUR": "Burkina Faso",
    "CAF": "République centrafricaine",
    "CAM": "Cambodge",
    "CAN": "Canada",
    "CAY": "Îles Caïmans  Îles Caïmans",
    "CGO": "République du Congo",
    "CHA": "Tchad",
    "CHI": "Chili",
    "CHN": "Chine, République populaire de",
    "CIV": "Côte d'Ivoire",
    "CMR": "Cameroun",
    "COD": "République démocratique du Congo",
    "COK": "Îles Cook",
    "COL": "Colombie",
    "COM": "Comores",
    "COR": "Corée unifiée",
    "CPV": "Cap-Vert",
    "CRC": "Costa Rica",
    "CRO": "Croatie",
    "CUB": "Cuba",
    "CYP": "Chypre",
    "RTCN": "Chypre du Nord",
    "CZE": "Tchéquie",
    "DEN": "Danemark",
    "DJI": "Djibouti",
    "DMA": "Dominique",
    "DOM": "République dominicaine",
    "ECU": "Équateur",
    "EGY": "Égypte",
    "ENG": "Angleterre",
    "ERI": "Érythrée",
    "ESA": "Salvador",
    "ESP": "Espagne",
    "EST": "Estonie",
    "ETH": "Éthiopie",
    "FIJ": "Fidji",
    "FIN": "Finlande",
    "FRA": "France",
    "FSM": "États fédérés de Micronésie",
    "GAB": "Gabon",
    "GAM": "Gambie",
    "GBR": "Grande-Bretagne",
    "GBS": "Guinée-Bissau",
    "GEO": "Géorgie",
    "GEQ": "Guinée équatoriale",
    "GER": "Allemagne",
    "GHA": "Ghana",
    "GLP": "France",
    "GNB": "Gabon",
    "GRE": "Grèce",
    "GRN": "Grenade",
    "GUA": "Guatemala",
    "GUF": "France",
    "GUI": "Guinée",
    "GUM": "Guam",
    "GUY": "Guyana",
    "HAI": "Haïti",
    "HKG": "Hong Kong",
    "HON": "Honduras",
    "HUN": "Hongrie",
    "INA": "Indonésie",
    "IND": "Inde",
    "IRI": "Iran  Iran",
    "IRL": "Irlande",
    "IRQ": "Irak",
    "ISL": "Islande",
    "ISR": "Israël",
    "ISV": "Îles Vierges des États-Unis",
    "ITA": "Italie",
    "IVB": "Îles Vierges britanniques",
    "JAM": "Jamaïque",
    "JOR": "Jordanie",
    "JPN": "Japon",
    "KAZ": "Kazakhstan",
    "KEN": "Kenya",
    "KGZ": "Kirghizistan",
    "KIR": "Kiribati",
    "KOS": "Kosovo",
    "KOR": "Corée du Sud",
    "KSA": "Arabie saoudite",
    "KUW": "Koweït",
    "KVX": "Kosovo",
    "LAO": "Laos",
    "LAT": "Lettonie",
    "LBA": "Libye",
    "LBN": "Liban",
    "LBR": "Liberia",
    "LCA": "Sainte-Lucie",
    "LES": "Lesotho",
    "LIE": "Liechtenstein",
    "LTU": "Lituanie",
    "LUX": "Luxembourg",
    "MAD": "Madagascar",
    "MAR": "Maroc",
    "MAS": "Malaisie",
    "MAW": "Malawi",
    "MDA": "Moldavie",
    "MDV": "Maldives",
    "MEX": "Mexique",
    "MGL": "Mongolie",
    "MHL": "Îles Marshall",
    "MKD": "Macédoine du Nord",
    "MLI": "Mali",
    "MLT": "Malte",
    "MNE": "Monténégro",
    "MON": "Monaco",
    "MOZ": "Mozambique",
    "MRI": "Maurice",
    "MTN": "Mauritanie",
    "MTQ": "Martinique",
    "MYA": "Birmanie",
    "NAM": "Namibie",
    "NCA": "Nicaragua",
    "NED": "Pays-Bas",
    "NEP": "Népal",
    "NGA": "Nigeria",
    "NGR": "Nigeria",
    "NIG": "Niger",
    "NOR": "Norvège",
    "NRU": "Nauru",
    "NZL": "Nouvelle-Zélande",
    "OAR": "Athlètes olympiques de Russie",
    "OMA": "Oman",
    "PAK": "Pakistan",
    "PAN": "Panama",
    "PAR": "Paraguay",
    "PER": "Pérou",
    "PHI": "Philippines",
    "PLE": "Palestine",
    "PLW": "Palaos",
    "PNG": "Papouasie-Nouvelle-Guinée",
    "POL": "Pologne",
    "POR": "Portugal",
    "PRK": "Corée du Nord",
    "PUR": "Porto Rico",
    "QAT": "Qatar",
    "ROC": "Comité olympique de Russie",
    "ROT": "Équipe olympique des réfugiés",
    "ROU": "Roumanie",
    "RSA": "Afrique du Sud",
    "RUS": "Russie, Fédération de",
    "RWA": "Rwanda",
    "SAM": "Samoa",
    "SCO": "Écosse",
    "SEN": "Sénégal",
    "SEY": "Seychelles",
    "SGP": "Singapour",
    "SKN": "Saint-Christophe-et-Niévès",
    "SLE": "Sierra Leone",
    "SLO": "Slovénie",
    "SMR": "Saint-Marin",
    "SOL": "Îles Salomon",
    "SOM": "Somalie",
    "SRB": "Serbie",
    "SRI": "Sri Lanka",
    "SSD": "Soudan du Sud",
    "STP": "Sao Tomé-et-Principe",
    "SUD": "Soudan",
    "SUI": "Suisse",
    "SUR": "Suriname",
    "SVK": "Slovaquie",
    "SVN": "Slovénie",
    "SWE": "Suède",
    "SWZ": "Eswatini/Swaziland",
    "SYR": "Syrie",
    "TAN": "Tanzanie, République unie de",
    "TGA": "Tonga",
    "THA": "Thaïlande",
    "TJK": "Tadjikistan",
    "TKM": "Turkménistan",
    "TLS": "Timor oriental",
    "TOG": "Togo",
    "TPE": "Taipei chinois",
    "TTO": "Trinité-et-Tobago",
    "TUN": "Tunisie  Tunisie",
    "TUR": "Turquie",
    "TUV": "Tuvalu",
    "UAE": "Émirats arabes unis",
    "UGA": "Ouganda",
    "UKR": "Ukraine",
    "URU": "Uruguay",
    "USA": "États-Unis",
    "UZB": "Ouzbékistan",
    "VAN": "Vanuatu",
    "VEN": "Venezuela",
    "VIE": "Viêt Nam",
    "VIN": "Saint-Vincent-et-les-Grenadines",
    "WAL": "Pays de Galles",
    "YEM": "Yémen",
    "ZAM": "Zambie  Zambie",
    "ZIM": "Zimbabwe"
}

ligue_1['Nation'] = ligue_1['Nation'].map(pays)
ligue_1

                Player         Nation   Pos     Age
1          Brice Samba         France    GK  29-018
2          Kevin Danso       Autriche    DF  24-236
3          Seko Fofana  Côte d'Ivoire    MF  28-006
4       Florian Sotoca         France  MFFW  32-200
5    Salis Abdul Samed          Ghana    MF  23-048
..                 ...            ...   ...     ...
668    Yassin Belkhdim         France    MF  21-088
669         Théo Borne         France    GK  20-302
670        Yacine Gaya        Algérie    DF  18-179
671   Noah Guede-Nadje         France    MF  19-182
672      Demba N'Diaye         France    MF  17-268

[672 rows x 4 columns]

In [25]:
#traitement colonne age

ligue_1['Age'] = ligue_1['Age'].str.slice(stop=2)
ligue_1.head()

              Player         Nation   Pos Age
1        Brice Samba         France    GK  29
2        Kevin Danso       Autriche    DF  24
3        Seko Fofana  Côte d'Ivoire    MF  28
4     Florian Sotoca         France  MFFW  32
5  Salis Abdul Samed          Ghana    MF  23

In [26]:
#Changement des postes

position = {"GK":"Gardien",
            "DF":"Défenseur",
            "FWMF":"Milieu Offensif",
            "FW":"Attaquant",
            "MF":"Milieu Défensif",
            "DFMF":"Latéral",
            "MFFW":"Milieu Offensif",
            "MFDF":"Milieu Défensif"}

ligue_1['Pos'] = ligue_1['Pos'].map(position)
ligue_1

                Player         Nation              Pos Age
1          Brice Samba         France          Gardien  29
2          Kevin Danso       Autriche        Défenseur  24
3          Seko Fofana  Côte d'Ivoire  Milieu Défensif  28
4       Florian Sotoca         France  Milieu Offensif  32
5    Salis Abdul Samed          Ghana  Milieu Défensif  23
..                 ...            ...              ...  ..
668    Yassin Belkhdim         France  Milieu Défensif  21
669         Théo Borne         France          Gardien  20
670        Yacine Gaya        Algérie        Défenseur  18
671   Noah Guede-Nadje         France  Milieu Défensif  19
672      Demba N'Diaye         France  Milieu Défensif  17

[672 rows x 4 columns]

In [27]:
#import de psg dans python

psg = pd.read_csv('psg_clean.csv')
psg.head()

   Unnamed: 0                Player     Nation              Pos  Age
0           1  Gianluigi Donnarumma     Italie          Gardien   24
1           2            Marquinhos     Brésil        Défenseur   28
2           3          Lionel Messi  Argentine  Milieu Offensif   35
3           4         Kylian Mbappé     France        Attaquant   24
4           5          Sergio Ramos    Espagne        Défenseur   37

In [28]:
psg = psg.drop('Unnamed: 0', axis= 1)
psg

                    Player      Nation              Pos  Age
0     Gianluigi Donnarumma      Italie          Gardien   24
1               Marquinhos      Brésil        Défenseur   28
2             Lionel Messi   Argentine  Milieu Offensif   35
3            Kylian Mbappé      France        Attaquant   24
4             Sergio Ramos     Espagne        Défenseur   37
5                  Vitinha    Portugal  Milieu Défensif   23
6           Danilo Pereira    Portugal          Latéral   31
7           Marco Verratti      Italie  Milieu Défensif   30
8            Achraf Hakimi       Maroc          Latéral   24
9         Fabián Ruiz Peña     Espagne  Milieu Défensif   27
10             Nuno Mendes    Portugal        Défenseur   20
11                  Neymar      Brésil  Milieu Offensif   31
12             Juan Bernat     Espagne        Défenseur   30
13            Carlos Soler     Espagne  Milieu Défensif   26
14           Nordi Mukiele      France        Défenseur   25
15            Hugo Ekitike      France        Attaquant   20
16        Presnel Kimpembe      France        Défenseur   27
17      Warren Zaire-Emery      France  Milieu Défensif   17
18          Renato Sanches    Portugal  Milieu Défensif   25
19  El Chadaille Bitshiabu      France        Défenseur   17
20        Timothee Pembele      France        Défenseur   20
21           Pablo Sarabia     Espagne  Milieu Offensif   31
22           Ismaël Gharbi     Espagne  Milieu Offensif   19
23         Leandro Paredes   Argentine  Milieu Défensif   28
24            Ilyes Housni      France        Attaquant   17
25            Abdou Diallo     Sénégal        Défenseur   27
26      Nehemiah Fernandez      France        Défenseur   18
27       Arnaud Kalimuendo      France        Attaquant   21
28              Ayman Kari      France  Milieu Défensif   18
29               Hugo Lamy      France        Défenseur   19
30     Alexandre Letellier      France          Gardien   32
31            Keylor Navas  Costa Rica          Gardien   36
32             Serif Nhaga    Portugal        Défenseur   17
33             Sergio Rico     Espagne          Gardien   29

In [29]:
ligue_1_clean = pd.concat([ligue_1, psg], ignore_index=True)

ligue_1_clean

                  Player         Nation              Pos Age
0            Brice Samba         France          Gardien  29
1            Kevin Danso       Autriche        Défenseur  24
2            Seko Fofana  Côte d'Ivoire  Milieu Défensif  28
3         Florian Sotoca         France  Milieu Offensif  32
4      Salis Abdul Samed          Ghana  Milieu Défensif  23
..                   ...            ...              ...  ..
701            Hugo Lamy         France        Défenseur  19
702  Alexandre Letellier         France          Gardien  32
703         Keylor Navas     Costa Rica          Gardien  36
704          Serif Nhaga       Portugal        Défenseur  17
705          Sergio Rico        Espagne          Gardien  29

[706 rows x 4 columns]

In [30]:
#ligue_1_clean.to_csv('Ligue1_Clean.csv')

In [31]:
#vérification des NaNs

ligue_1_clean.isnull().sum()

Player     0
Nation     7
Pos       19
Age        0
dtype: int64

In [32]:
#afficher uniquement les lignes contenant des nans.

df_nan = ligue_1_clean[ligue_1_clean.isnull().any(axis=1)]

df_nan

                  Player              Nation              Pos Age
21       Ismaëlben Boura              France              NaN  22
111         Timothy Weah          États-Unis              NaN  23
113        Edon Zhegrova              Kosovo              NaN  24
115  Gabriel Gudmundsson               Suède              NaN  24
189             Henrique              Brésil              NaN  29
225        Ayoub Amraoui               Maroc              NaN  18
260        Darlin Yongwa            Cameroun              NaN  22
287         Alexis Flips              France              NaN  23
299  Mitchell van Bergen            Pays-Bas              NaN  23
309        Mohamed Toure           Australie              NaN  19
322        Jim Allevinah               Gabon              NaN  28
358     Faitout Maouassa              France              NaN  24
374       Arnaud Souquet              France              NaN  31
472   Christophe Hérelle                 NaN        Défenseur  30
483     Karamoko Dembele                 NaN  Milieu Offensif  20
512         Donovan Léon                 NaN          Gardien  30
522       Théo De Percin                 NaN          Gardien  22
545          Marcus Coco              France              NaN  26
597        Yoann Salmier                 NaN        Défenseur  30
598     Mama Samba Baldé                 NaN        Attaquant  27
606        Andreas Bruus            Danemark              NaN  24
639    Souleyman Doumbia       Côte d'Ivoire              NaN  26
641          Miha Blai?                 NaN        Défenseur  30
648      Farid El Melali             Algérie              NaN  26
651          Sada Thioub             Sénégal              NaN  27
656      Halid abanovi?  Bosnie-Herzégovine              NaN  23